<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= javascript_include_tag  "all" %>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <%= stylesheet_link_tag "all" %>
  </head>
  
  <body class="<%= page_classes %> blue-grey lighten-5">
    <%= yield %>
  </body>
</html>


<script type="text/javascript">
   $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
      $(window).scroll(function(){                          
            if ($(this).scrollTop() > 465) {
                $('#nav-hidden').slideDown("fast");
            } else {
                $('#nav-hidden').slideUp("fast");
            }
        });
    });
</script>